
/*======================= CSS RESET ==========================*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

html{
    width: 100%;
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100%;
    outline: none;
    background: #f4f4f7;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    text-align: left;
    position: relative;
    background-color: #f8f8fb;
    font-family: "Poppins",sans-serif;
}

ol, ul {
    list-style: none;
}

@media (max-width: 800px) {
    body {
        padding: 0;
    }

    .hide-mb {
        display: none !important;
    }
}

@media (min-width: 800px) {
    .show-mb {
        display: none !important;
    }
}

@media (max-width: 800px) {
    .show-mb {
        display: default !important;
    }
}

:focus {outline:none;}
::-moz-focus-inner {border:0;}

[placeholder]{
    text-overflow:ellipsis;
}

/*===================CSS STARTS HERE=========================*/

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
                    box-sizing: border-box;
                    outline: none;
}

a {
    text-decoration: none;
    color: black;
}

body {
    color: #333333;
}

.chat-holder {
    width: 100%;
    height: 100vh;
    padding-top: 60px;
    padding-bottom: 44px;
}

.chat-holder .header {
    top: 0px;
    left: 0px;
    position: fixed;
    width: 100%;
    height: 60px;
    padding: 18px 16px;
    border-bottom: 1px solid #D7D7D7;
    z-index: 10;
    background-color: #fff;
}

.header .header-title {
    font-size: 16px;
    display: inline-block;
    padding: 0 10px;
}

.header .header-action {
    float: right;
    margin-top: 4px;
    margin-left: 20px;
    margin-right: 8px;
}

.chat-holder .chat-msgs-holder {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: scroll;
}

.chat-msgs-holder .chat-msgs-date {
    position: absolute;
    top: 10px;
    left: 50%;
    padding: 3px 16px;
    font-size: 10px;
    background: #F2F2F2;
    box-shadow: 0px 1px 1px #0000001A;
    border: 0.5px solid #D7D7D7;
    border-radius: 12px;
    transform: translate(-50%, 0);
}

.chat-msgs-holder .messages {
    padding-top: 40px;
}

.message-holder {
    display: flex;
    align-items: center;
}

.sent-message-holder {
    flex-direction: row-reverse;
}

.chat-holder .msg-send-holder {
    float: right;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 4px 8px;
    display: flex;
    z-index: 10;
    background-color: #fff;
}

.msg-send-holder .msg-input-holder {
    flex: 1;
    position: relative;
}

.msg-input-holder .msg-input {
    border: 1px solid #D7D7D7;
    display: inline-block;
    padding: 10px 12px;
    padding-right: 34px;
    border-radius: 16px;
    width: 100%;
}

.msg-input-holder img {
    position: absolute;
    top: 8px;
    right: 12px;
    height: 16px;
}

.msg-send-holder .send-btn {
    width: 36px;
    height: 36px;
    border: 0;
    border-radius: 50%;
    margin-left: 4px;
    background: #56A4F6;
    box-shadow: 0px 2px 4px #00000033;
}

@media(min-width: 800px) {
    .msg-input-holder img {
        display: none;
    }

    .msg-send-holder .send-btn {
        margin-left: 16px;
    }
}