body {
    color: #333333;
}

.chat-holder {
    width: 100%;
    height: 100vh;
    padding-bottom: 44px;
}

.chat-holder .header {
    width: 95%;
    height: 30px;
    padding: 18px 16px;
    border-bottom: 1px solid #D7D7D7;
    z-index: 10;
    background-color: #fff;
}

.header .header-title {
    font-size: 16px;
    display: inline-block;
    padding: 0 10px;
}

.header .header-action {
    float: right;
    margin-top: 14px;
    margin-left: 20px;
    margin-right: 8px;
}

.chat-holder .chat-msgs-holder {
    width: 100%;
    height: 100%;
    position: relative;
    overflow-y: scroll;
}

.chat-msgs-holder .chat-msgs-date {
    position: absolute;
    top: 10px;
    left: 50%;
    padding: 3px 16px;
    font-size: 10px;
    background: #F2F2F2;
    box-shadow: 0px 1px 1px #0000001A;
    border: 0.5px solid #D7D7D7;
    border-radius: 12px;
    transform: translate(-50%, 0);
}

.chat-msgs-holder .messages {
    padding-top: 40px;
}

.chat-msgs-holder .message {
    padding: 8px 12px;
    box-shadow: 0px 1px 2px #0000001A;
    display: block;
    margin: 4px 8px;
    width: 72%;
    border-radius: 8px;
    position: relative;
}

.chat-msgs-holder .sent-msg {
    color: #fff;
    background: #56A4F6;
    float: right;
    border-top-right-radius: 0;
    margin-right: 16px;
}

.chat-msgs-holder .sent-msg:after {
    content: "";
    position: absolute;
    margin-top: -12px;
    margin-left: 0px;
    border-left: 10.5px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #56A4F6;
    transform: rotate(-45deg);
    right: -8px;
    top: 10px;
}

.chat-msgs-holder .received-msg {
    float: left;
    background: #EFEFEF;
    border-top-left-radius: 0;
    margin-left: 16px;
}

.chat-msgs-holder .received-msg:before {
    content: "";
    position: absolute;
    margin-top: -12px;
    margin-left: 0px;
    border-left: 10.5px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #EFEFEF;
    transform: rotate(45deg);
    left: -8px;
    top: 10px;
}

.message .message-time {
    font-size: 9px;
    color: #4D4D4D;
    position: absolute;
    top: 50%;
}

.sent-msg .message-time {
    left: -8px;
    transform: translate(-100%, -50%);
}

.received-msg .message-time {
    right: -8px;
    transform: translate(100%, -50%);
}

.chat-holder .msg-send-holder {
    float: right;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 95%;
    padding: 4px 8px;
    display: flex;
    z-index: 10;
    background-color: #fff;
}

.msg-send-holder .msg-input-holder {
    flex: 1;
    position: relative;
}

.msg-input-holder .msg-input {
    border: 1px solid #D7D7D7;
    display: inline-block;
    padding: 10px 12px;
    padding-right: 34px;
    border-radius: 16px;
    width: 85%;
}

.msg-input-holder img {
    position: absolute;
    top: 10px;
    right: 15px;
    height: 16px;
}

.msg-send-holder .send-btn {
    width: 36px;
    height: 36px;
    border: 0;
    border-radius: 50%;
    margin-left: 4px;
    background: #56A4F6;
    box-shadow: 0px 2px 4px #00000033;
}